* { 
  box-sizing: border-box;
}
:root {
  --main-color: #a52a2a;
}
html {
  background-color: #a52a2a;
  font-size: 10px;
}
body {
  margin: 0%;
  padding: 0%;
}

#quote-box {
  background-color: aliceblue;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 2rem 4rem;
  box-shadow: 10px 10px 50px rgb(0, 0, 0);
}
#text {
  color: var(--main-color);
  max-height: auto;

  font-size: 2.5rem;
  max-width: 30rem;
}
#author {
  color: var(--main-color);
  margin: 1rem 0rem;
  font-size: 1.6rem;
  padding-left: 14rem;
  display: flex;
  margin-bottom: 2.6rem;
}

#new-quote {
  background-color: var(--main-color);
float: right;
  cursor: pointer;
  overflow: hidden;
  outline: auto;
  color: white;
  
}
#new-quote span{
  display: block;
}
#tweet-quote{
  background-color: #a52a2a;
  border: 0;
}
#tweet-img {
  width: 5rem;
  
  

  
}
